absl-py
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
assemblyai
astunparse
attrs
beautifulsoup4
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
coloredlogs
contourpy
cycler
docopt
dotenv
ffmpeg
ffmpeg-python
filelock
filetype
Flask
flask-cors
flatbuffers
fonttools
frozenlist
fsspec
future
gast
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-generativeai
google-pasta
googleapis-common-protos
greenlet
grpcio
grpcio-status
gTTS
h11
h5py
httpcore
httplib2
httpx
humanfriendly
idna
imageio
inaSpeechSegmenter
itsdangerous
Jinja2
Js2Py
jsonpatch
jsonpointer
keras
kiwisolver
langchain
langchain-core
langchain-google-genai
langchain-text-splitters
langsmith
lazy_loader
libclang
llvmlite
Markdown
MarkupSafe
matplotlib
more-itertools
mpmath
multidict
networkx
numba
numpy
oauthlib
onnxruntime-gpu
openai-whisper
opt_einsum
orjson
packaging
pandas
pillow
pipwin
propcache
proto-plus
protobuf
pyannote.core
pyasn1
pyasn1_modules
PyAudio==0.2.14
pycparser
pydantic
pydantic_core
pydub
pyjsparser
pyparsing
PyPrind
pyreadline3
Pyro4
pySmartDL
pytextgrid
python-dateutil
python-dotenv
pytz
PyYAML
regex
requests
requests-oauthlib
requests-toolbelt
rsa
scikit-image
scipy
serpent
six
sniffio
sortedcontainers
soundfile
soupsieve
SQLAlchemy
sympy
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
tifffile
tiktoken
torch
tqdm
typing_extensions
tzdata
tzlocal
uritemplate
urllib3
websockets
Werkzeug
wrapt
yarl
yt-dlp
zstandard
